
{% extends "students/base.html" %}

{% block body %}
     
  
    <div class="container-fluid"> </div>
       <h3 class="m-4"> All Students </h3>
       <div class="row">
        <div class="col-12">

          {% if students %}
            <div class="card bg-light ms-4 me-4 mb-4" >
               <div class="card-header"> <i class="fa-solid fa-list"></i>Student Record</div>
                <div class="card-body">
                  
                  <p class="card-text">

                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            
                            <th scope="col">Student Number</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Field Of Study</th>
                            <th scope="col">GPA</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                     
                          {% for student in students %}
                          <tr>

                            <td>{{student.student_number}}</td>
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.field_of_study}}</td>
                            <td>{{student.gpa}}</td>
                            <td>
                              <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}"><i class="fa-solid fa-circle-info "></i> </button>
                            
                              <div class="modal" id="myModal{{student.id}}" >
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">{{student.first_name}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <ul class="list-unstyled">
                                        <li>Name: {{student.first_name}} {{student.last_name}}</li>
                                        <li>Roll no: {{student.student_number}}</li>
                                        <li>Email: {{student.email}}</li>
                                        <li>Stream: {{student.field_of_study}}</li>
                                        <li>GPA: {{student.gpa}}</li>
                                      </ul>
                                    </div>
                                    <div class="modal-footer">
                                      
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <a class="btn btn-warning me-1" href="edit/{{student.id}}">
                                <i class="fa-solid fa-pen-to-square"></i> </a>

                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                            <i class="fa-solid fa-trash"> </i> 
                          </button>

                         

                              <div class="modal" id="delete{{student.id}}" >
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">{{student.first_name}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p> Are you sure you want to delete the student detail? </p>
                                    </div>
                                    <div class="modal-footer">
                                      
                                      <form action ="{% url 'delete' student.id %}" method="POST"> 
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary" value="delete">  
                                      </form>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          
                          </tr>
                          {% endfor %}
                         
                        </tbody>
                      </table>
                    
                    </div>

                  </p>
                </div>
        </div>
       </div>
    <div>

      {% else  %}
      <div class="alert alert-dismissible alert-warning mt-5" >
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading"  >No Student Record !</h4>
        
      </div>

      {% endif %}

  {% endblock %}
   

